.annuler {
    background: #BA0000;
	
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;

}

.annuler:hover {
    background-color: red;
    /* Green */
    color: black;
}

.valider {

    background: #333333;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;

}

.valider:hover {
    background-color: blue;
    color: white;
}

.voir {
    background-color: white;
    color: black;
    border: 5px solid gray;
    border-radius: 8px;
    font-size: 20px;
    width: 100%;

}

.creer {

   background: #333333;
    /*background: -moz-linear-gradient(top, #156812 0%, #77F296 0%, #0C3F1E 100%);
    background: -webkit-linear-gradient(top, #156812 0%, #77F296 0%, #0C3F1E 100%);
    background: linear-gradient(to bottom, #156812 0%, #77F296 0%, #0C3F1E 100%);
    border: none;*/
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;

    float: right;

    width: 200px;
}

.creer:hover {
    background-color: #BA0000;
    color: white;
}