.formfield-select {
    position: relative;
}

.formfield-select--container {
    position: relative;

    background-color: #fff;
    border: 1px solid;
    margin: 0 0 1.5em 0;
    overflow: hidden;
    /* 
		Le select natif pourra 
		dépasser sans être vu 
	*/
    margin-top: 30px;
    height: 50px;

}

.formfield-select--container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    /* 
		On est sûr de ne plus voir
		la flèche native 
	*/
    height: 50px;
    border: 0;
    margin-top: -10px;
    border-radius: 0;

	
    overflow: hidden;
    text-overflow: ellipsis;
    /* 
		On empêche le texte d'aller
		jusqu'au bout s'il est trop long
	*/
	
	font-size: 25px;
}

.formfield-select--container::after {
    /* Le pointeur du select */
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: .75em;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-top-color: rgb(18, 18, 202);
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}

select {
    font-family: Calibri;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #585858;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

input[type=text]:focus {
    border: 5px solid #555;
}

input {
    width: 100%;
    height: 50px;
    size: 5px;
    border: 1px solid black;
    margin-top: 20px;
}