h1 {
    color: #ff4411;
    font-size: 20px;
    font-family: calibri;
    padding-bottom: 10px;
}
#nombrePlace{
    width: 400px;
    height: 200px;
    float: left;
}
#nombreBus{
    width: 520px;
    height: 400px;
    margin-left: 50px;
    float: left;
}
