h1 {
    display: inline;
    position: relative;
    font: 50px calibri;
    letter-spacing: 2px;
	color:#CE1616;
}

h2 {
    color: rgb(77, 74, 74);
    font-size: 30px;
    font-family: 'Signika', sans-serif;
    padding-bottom: 10px;
}

th {
    color: white;
    background-color: #333333;

    padding: 15px;
    text-align: center;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

td {
    padding: 15px;
    text-align: center;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #585858;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

p {
    font-family: calibri;
    font-size: 20px;
    
    
    color: #585858;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}