h1 {
    display: inline;
    position: relative;
    font: 50px calibri;
    letter-spacing: 2px;
	color:#CE1616;
}

h2 {
    font-family: Calibri;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
}

p {
    font-family: calibri;
    font-size: 20px;
    letter-spacing: 2px;
    color: #585858;
}