#contenaire{
    display:flex;
    justify-content: center;
}
h3{
    font: 25px calibri;
    color:#CE1616;
}
#tableau{
    margin-right: 200px;
}
p{
    font-family: calibri;
    font-size: 16px;
    letter-spacing: 2px;
    color: #585858;
}
th{
    font-family: calibri;
    color: white;
    background-color: #333333;
    padding: 15px;
    text-align: center;
}
#formulaire{
    margin-right: 200px;
}
#ChangerEtat{

}
#boutton{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.indispo{
    background: #BA0000;
    border: none;
    color: white;
    font-size: 16px;
    size: 20px;
}
.indispo:hover{
    background: red;
}
.dispo{
    background: #585858;
    border: none;
    color: white;
    margin-left: 2px;
    font-size: 16px;
    size: 20px;
}
.dispo:hover{
    background: green;
}
.route{
    background: #585858;
    border: none;
    color: white;
    margin-left: 2px;
    font-size: 16px;
    size: 20px;
}
.route:hover{
    background: orangered;
}
.creer{
    background: #585858;
    border: none;
    color: white;
    margin-left: 2px;
    font-size: 16px;
    size: 20px;
    margin-top: 5px;;
}
.creer:hover{
    background: #BA0000;
}