body {
    background-image: url('../img/fond.png');
    background-repeat: round;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 1920px;
}

.titrePrincipal {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 2;

    margin-top: 10px;
    text-align: center;

    border: 1px;
}


.form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px);
    grid-gap: 10px;

    grid-column-start: 6;
    grid-column-end: 10;

    border: 1px;
    border: 2px dotted;
    border: medium solid;
    border-color: #333333;

    margin-top: 50px;

    width: 800px;
    margin: auto;
}


.principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px);
    grid-gap: 10px;
}

.titre {
    grid-column: 3/11;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: red;*/

    height: 100px;
    background: #333333;
    /*background: -moz-linear-gradient(left, #060745 0%, #1C6EA4 50%, #000000 100%);
    background: -webkit-linear-gradient(left, #060745 0%, #1C6EA4 50%, #000000 100%);
    background: linear-gradient(to right, #060745 0%, #1C6EA4 50%, #000000 100%);*/
}

.label_1 {
    grid-column: 4/10;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}

.label_trajet {
    grid-column-start: 1;
    grid-column-end: 5;

    height: 25px;
    border-bottom: 2px solid;
    border-color: #BA0000;
}

.input_trajet {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;

    grid-column-start: 5;
    grid-column-end: 13;
    grid-row: 1;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: yellow;*/

}

.input_trajet_depart {

    grid-column-start: 1;
    grid-column-end: 7;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: purple;*/

}

.input_trajet_arrive {

    grid-column-start: 7;
    grid-column-end: 13;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: purple;*/

}

.label_2 {
    grid-column: 4/10;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}

.label_numero {
    grid-column-start: 1;
    grid-column-end: 5;

    height: 25px;
    border-bottom: 2px solid;
    border-color: #BA0000;
}

.input_numero {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row: 1;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: yellow*/

}

.label_3 {
    grid-column: 4/10;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}

.label_date {
    grid-column-start: 1;
    grid-column-end: 5;

    height: 25px;
    border-bottom: 2px solid;
    border-color: #BA0000;
}

.input_date {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row: 1;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: yellow;*/

}

.label_4 {
    grid-column: 4/10;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}

.label_horraire {
    grid-column-start: 1;
    grid-column-end: 5;

    height: 25px;
    border-bottom: 2px solid;
    border-color: #BA0000;
}

.input_horraire {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row: 1;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: yellow;*/

}

.label_5 {
    grid-column: 4/10;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}

.label_prix {
    grid-column-start: 1;
    grid-column-end: 5;

    height: 25px;
    border-bottom: 2px solid;
    border-color: #BA0000;
}

.input_prix {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row: 1;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: yellow;*/

}

.zone_boutton {
    grid-column: 4/10;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}

.zone_exception {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row: 8;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/

}


.bas {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 12;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: red*/
}

h3 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}

th {
    color: white;
    background-color: #333333;

    padding: 15px;
    text-align: center;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

td {
    padding: 15px;
    text-align: center;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #585858;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}