body {
    background-image: url('../images/fond3.jpg');
    background-repeat: round;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 1920px;

}

.titre {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 2;

    margin-top: 10px;
	text-align: center;
	
    border: 1px;
}

.zone_reservation {
	margin-top: 75px;
	
    grid-column-start: 2;
    grid-column-end: 12;

    grid-row-start: 3;
    grid-row-end: 12;

	background-color: white;
    border-width: 1px;
    border: medium ;
    border-color: green;

}

.zoneTitreReservation {

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 12;

    margin-top: 50px;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: blue;*/
}

.zoneResultat {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;


    grid-column-start: 3;
    grid-column-end: 9;

    grid-row: 13;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: yellow;*/

}

.resultat {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 4;

    /*border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;*/
}

.zone_boutton {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;

    grid-column-start: 7;
    grid-column-end: 12;
    grid-row: 4;

    border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: violet;
}

.zone_boutton_annuler {
    grid-column-start: 1;
    grid-column-end: 7;

    border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;
}

.zone_boutton_valider {
    grid-column-start: 7;
    grid-column-end: 13;

    border: 1px;
    border: 2px dotted;
    border: medium dashed;
    border-color: black;
}