<link href="assets/css/zoneVoyage.css" rel="stylesheet">
<link href=" assets/css/textVoyage.css" rel="stylesheet">
<link href=" assets/css/selectMenu.css" rel="stylesheet">
<link href=" assets/css/boutton.css" rel="stylesheet">

<div ng-include="urlNavbar"></div>

<div class="titrePrincipal">
    <h1>Voyage</h1>
</div>

<form>

    <div class="form">
        <div class="titre">
            <h2>Créer voyage</h2>
        </div>
        <div class="label_1">
            <div class="label_trajet">
                <p>Trajet :</p>
            </div>
            <div class="input_numero">
                <div class="input_trajet_depart">
                    <div class="formfield-select--container">
                        <select id="mon_select" ng-model="trajet">
                            <option ng-repeat="trajet in trajets" value="{{trajet.idTrajet}}">
                                {{trajet.depart}} -> {{trajet.arriver}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="label_2">
            <div class="label_numero">
                <p>Numero voiture :</p>
            </div>
            <div class="input_numero">
                <div class="formfield-select--container">
                    <select id="mon_select" ng-model="numero">
                        <option ng-repeat="vehicule in vehicules" value="{{vehicule.idVoiture}}">
                            {{vehicule.idVoiture}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="label_3">
            <div class="label_date">
                <p>Date :</p>
            </div>
            <div class="input_date">
                <div class="input">
                    <input type="text" placeholder="AAAA-MM-jj" ng-model="date">
                </div>
            </div>
        </div>
        <div class="label_4">
            <div class="label_horraire">
                <p>Horaires :</p>
            </div>
            <div class="input_horraire">
                <div class="formfield-select--container">
                    <select id="mon_select" ng-model="horraire">
                        <option>06:00</option>
                        <option>18:00</option>
                    </select>
                </div>
            </div>

            <div>
                <p>Duree</p>
                <input type="text" ng-model="duree" placeholder="en heure">
            </div>
        </div>
        <div class="label_5">
            <div class="label_prix">
                <p>Prix :</p>
            </div>
            <div class="input_prix">
                <div class="input">
                    <input type="text" ng-model="prix" placeholder="en ariary">
                </div>
            </div>
        </div>
        <div class="zone_boutton">
            <button type="submit" ng-click="insertVoyage()" class="creer">Creer</button>
        </div>
        <div class="zone_exception">
            <p>Exception</p>
        </div>
    </div>
    <div class="bas">
        <p>Bas</p>
    </div>
</form>