<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Essai</title>


    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>

<body ng-app="myApp">
    <div ng-controller="ReservationController">
        <form>
            <input type="text" ng-model="essai.id" placeholder="id">
            <input type="text" ng-model="essai.prix" placeholder="prix">
            <button type="submit" ng-click="test()">inserer</button>
        </form>

    </div>

</body>


</html>