<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">

<div id="contenaire">

    <form id="formulaire">
        <h3>Inserer nouveau vehicule</h3>
        <div>
            <div>
                <div>
                    <p>marque :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="marque" placeholder="ex : Mercedes">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>numero :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="numero" placeholder="du vehicule">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>positon de la voiture :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="positionArret" placeholder="lieu de situation">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>nombre de place client :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="taille">
                    </div>
                </div>
            </div>

            <div class="zone_boutton">
                <button type="submit" ng-click="insertVoiture()" class="creer">Creer</button>
            </div>
            <div class="zone_exception">
                <p>Exception</p>
            </div>
        </div>
    </form>

</div>