<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">


<div id="contenaire">
    <form id="formulaire">
        <h3>Inserer nouveau option</h3>
        <div>
            <div>
                <div>
                    <p>libelle :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="depart" placeholder="type d'option">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>prix :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="arriver" placeholder="en ariary">
                    </div>
                </div>
            </div>
            <div class="zone_boutton">
                <button type="submit" ng-click="insertOption()" class="creer">Creer</button>
            </div>
            <div class="zone_exception">
                <p>Exception</p>
            </div>
        </div>
    </form>
</div>