<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">


<div id="contenaire">
    <form id="formulaire">
        <h3>Inserer nouveau trajet</h3>
        <div>
            <div>
                <div>
                    <p>depart :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="depart" placeholder="lieu de depart">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>arriver :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="arriver" placeholder="lieu d'arriver">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>distance :</p>
                </div>
                <div>
                    <div>
                        <input type="text" ng-model="distance" placeholder="en km">
                    </div>
                </div>
            </div>
            <div class="zone_boutton">
                <button type="submit" ng-click="insertTrajet()" class="creer">Creer</button>
            </div>
            <div class="zone_exception">
                <p>Exception</p>
            </div>
        </div>
    </form>

</div>