<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">


<div id="contenaire">
    <div id="tableau">
        <h3>Liste des options</h3>
        <table>
            <tr>
                <th>idOptions</th>
                <th>libelle</th>
                <th>prix</th>
                <th>action</th>

            </tr>
            <form>
                <tr style="text-align:center" ng-repeat="option in options">
                    <input type="hidden" value="{{option.idOptions}}" name="idOptions">
                    <td> {{option.idOptions}} </td>
                    <td> {{option.libelle}}</td>
                    <td> {{option.prix}} </td>
                    <td><button type="submit" ng-click="disableOption(option.idOptions)"
                            class="indispo">desactiver</button></td>
                </tr>
            </form>
        </table>
    </div>
</div>