<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">

<div id="contenaire">
    <div id="tableau">
        <h3>Liste des Trajet</h3>
        <table>
            <tr>
                <th>idTrajet</th>
                <th>depart</th>
                <th>arriver</th>
                <th>distance</th>
                <th>action</th>
            </tr>
            <form>
                <tr style="text-align:center" ng-repeat="trajet in trajets">
                    <input type="hidden" value="{{trajet.idTrajet}}" name="idTrajet">
                    <td> {{trajet.idTrajet}} </td>
                    <td> {{trajet.depart}}</td>
                    <td> {{trajet.arriver}} </td>
                    <td> {{trajet.distance}} </td>
                    <td><button type="submit" ng-click="deleteTrajet(trajet.idTrajet)"
                            class="indispo">supprimer</button></td>
                </tr>
            </form>
        </table>
        <!--
        <form id="ChangerEtat">
            <h3>Supprimer Trajet</h3>
            <div>
                <div>
                    <div>
                        <p>Entrer IdTrajet :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="idTrajet">
                        </div>
                    </div>
                    <div id="boutton">
                        <button type="submit" ng-click="deleteTrajet(idTrajet)" class="indispo">supprimer</button>
                    </div>
                </div>
            </div>
        </form>
-->
    </div>
</div>