<link href="assets/css/zoneVoyage.css" rel="stylesheet">
<link href=" assets/css/textVoyage.css" rel="stylesheet">
<link href=" assets/css/selectMenu.css" rel="stylesheet">
<link href=" assets/css/boutton.css" rel="stylesheet">

<div ng-include="urlNavbar"></div>

<div class="titrePrincipal">
    <h1>Voyage</h1>
</div>

<div id="contenaire">
    <div id="tableau">
        <h3>Liste des voyages</h3>
        <table>
            <tr>
                <th>idVoyage</th>
                <th>idTrajet</th>
                <th>idVoiture</th>
                <th>Duree</th>
                <th>Date de depart</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
            <form>
                <tr ng-repeat="voyage in voyages">
                    <input type="hidden" value="{{voyage.idVoyage}}" name="idVoyage">
                    <td> {{voyage.idVoyage}} </td>
                    <td> {{voyage.idTrajet}} </td>
                    <td> {{voyage.idVoiture}} </td>
                    <td> {{voyage.duree}} </td>
                    <td> {{voyage.dateDepart}} </td>
                    <td> {{voyage.prix}} </td>
                    <td> {{voyage.etat}} </td>
                    <td><button type="submit" ng-click="annulerVoyage()" class="voir">Annuler</button></td>
                </tr>
            </form>
        </table>


        <h3>Liste etat</h3>
        <table>
            <tr>
                <th>etat</th>
                <th>libelle</th>
            </tr>
            <tr>
                <td> 0 </td>
                <td> annuler </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> valide </td>
            </tr>

        </table>
    </div>

</div>