<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">

<div id="contenaire">
    <div id="tableau">
        <h3>Liste des Vehicules</h3>
        <table>
            <tr>
                <th>idVoiture</th>
                <th>marque</th>
                <th>numero</th>
                <th>position d'arret</th>
                <th>Nombre de place</th>
                <th>disponibilite</th>
                <th>action</th>
            </tr>
            <form>
                <tr style="text-align:center" ng-repeat="vehicule in vehicules">
                    <input type="hidden" value="{{vehicule.idVehicule}}" name="idVehicule">
                    <td> {{vehicule.idVoiture}} </td>
                    <td> {{vehicule.marque}} </td>
                    <td> {{vehicule.numeroVoiture}} </td>
                    <td> {{vehicule.positionArret}} </td>
                    <td> {{vehicule.taille}} </td>
                    <td> {{vehicule.disponiblite}} </td>
                    <td><button type="submit" ng-click="ChangeStateVoiture(vehicule.idVoiture, 'indisponible')"
                            class="indispo">indisponible</button>
                        <button type="submit" ng-click="ChangeStateVoiture(vehicule.idVoiture, 'disponible')"
                            class="dispo">disponible</button>
                        <button type="submit" ng-click="ChangeStateVoiture(vehicule.idVoiture, 'enRoute')"
                            class="route">en
                            route</button>
                    </td>
                </tr>
            </form>
        </table>
    </div>

    <div id="tableau">
        <h3>Liste de diponibilite</h3>
        <table style="text-align:center">
            <tr>
                <th>disponibilite</th>
                <th>libelle</th>
            </tr>
            <tr>
                <td> 0 </td>
                <td> indisponible </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> disponible </td>
            </tr>
            <tr>
                <td> 11 </td>
                <td> en route </td>
            </tr>
        </table>
    </div>

</div>