<link rel="stylesheet" href="assets/css/navbar.css">
<header>
	<div id="logo">
		<img src="assets/images/logo-cotisse.png" />
	</div>
	<div class="navbar-container">
		<ul class="topnav">
			<li><a class="active" href="#!/reservation">Reservations</a></li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Voyage
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#!/listeVoyage">Liste voyage</a>
						<a href="#!/creerVoyage">Creer voyage</a>
					</div>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Vehicule
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#!/listeVehicule">Liste vehicule</a>
						<a href="#!/insererVehicule">Inserer vehicule</a>
					</div>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Trajet
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#!/listeTrajet">Liste trajet</a>
						<a href="#!/insererTrajet">Inserer trajet</a>
					</div>
				</div>
			</li>

			<li>
				<div class="dropdown">
					<button class="dropbtn">Option
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#!/listeOption">Liste option</a>
						<a href="#!/insererOption">Inserer option</a>
					</div>
				</div>
			</li>


			<li><a href="#!/satistique">Statistique</a></li>
			<li class="right"><a href="#about">About</a></li>
		</ul>
	</div>
</header>