<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">


<div id="contenaire">
	<div id="tableau">
		<h3>Liste des options</h3>
		<table>
			<tr>
                <th>idOptions</th>
				<th>libelle</th>
				<th>prix</th>
				<th>etat</th>
			</tr>
			<form>
                <tr style="text-align:center" ng-repeat="option in options">
                    <input type="hidden" value="{{option.idOptions}}" name="idOptions" >
                        <td> {{option.idOptions}} </td>
                        <td> {{option.libelle}}</td>
                        <td> {{option.prix}} </td>
                        <td> {{option.etat}} </td>
                </tr>
            </form>
        </table>
        
        <form id="ChangerEtat">
            <h3>Supprimer option</h3>
            <div>
                <div>
                    <div>
                        <p>Entrer IdOptions :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="idoption">
                        </div>
                    </div>
                    <div class="zone_boutton">
                        <button type="submit" ng-click="disableOption(idoption)" class="indispo">desactiver</button>
                    </div>
                </div>
            </div>
        </form>

	</div>
	
	<form id="formulaire">
		<h3>Inserer nouveau option</h3>
        <div >
                <div>
                    <div>
                        <p>libelle :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="depart">
                        </div>
                    </div>
                </div>
				<div>
                    <div>
                        <p>prix :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="arriver">
                        </div>
                    </div>
                </div>
                <div class="zone_boutton">
                    <button type="submit" ng-click="insertOption()" class="creer">Creer</button>
                </div>
                <div class="zone_exception">
                    <p>Exception</p>
                </div>
        </div>
    </form>
</div>    