<link href=" assets/css/zoneReservation.css" rel="stylesheet">
<link href=" assets/css/textReservation.css" rel="stylesheet">
<link href=" assets/css/boutton.css" rel="stylesheet">

<div ng-include="urlNavbar"></div>

<div class="titre">
    <h1 align="center">Reservations</h1>
</div>

<div class="zone_reservation" style="overflow-x:auto;">
    <table style="width: 100%;">
        <tr>
            <th>Depart</th>
            <th>Arriver</th>
            <th>Date de depart</th>
            <th>Client</th>
            <th>Nombre de place</th>
            <th>Etat</th>
            <th>Action</th>
        </tr>

        <form>
            <tr ng-repeat="reservation in reservations">
                <input type="hidden" value="{{reservation.idReservation}}" name="idReservation"
                    ng-model="reservation.id">
                <td> {{reservation.depart}} </td>
                <td> {{reservation.arriver}} </td>
                <td> {{reservation.dateDepart}} </td>
                <td> {{reservation.nom}} {{reservation.prenom}} </td>
                <td> {{reservation.nombrePlace}} </td>
                <td> {{reservation.etat}} </td>
                <td><button type="submit" ng-click="getReservation(reservation.idReservation)"
                        class="voir">Voir</button>
                </td>
            </tr>
        </form>
    </table>
</div>


<div class="zoneResultat">
    <div class="resultat" ng-repeat="actionReservation in actionReservations">
        <div class=" zoneTitreReservation">
            <h2>Action :</h2>
        </div>
        <p> <b>Depart :</b> {{actionReservations.depart}}</p>
        <p> <b>Arriver :</b> {{actionReservations.arriver}}</p>
        <p> <b>Date de depart :</b> {{actionReservations.dateDepart}}</p>
        <p> <b>Client :</b> {{actionReservations.nom}} {{actionReservations.prenom}}</p>
        <p> <b>Date de réseravation :</b> {{actionReservations.dateReservation}}</p>
        <p> <b>Numéro place :</b> <a ng-repeat="numero in numeros">{{numero.numeroPlace}} .</a></p>

        <button type="submit" ng-click="annulerReservation(actionReservations.idReservation)"
            class="annuler">Annuler</button>
        <button type="submit" ng-click="validateReservation(actionReservations.idReservation)"
            class="valider">Valider</button>
    </div>
</div>