<link href="assets/css/stat.css" rel="stylesheet">
<div ng-include="urlNavbar"></div>

<div>
    <div id="nombrePlace" class="chart-wrap">
        <h1>Nombre de place par mois par trajet</h1>
        <canvas id="nbPlace" width="600" height="400" class="chartjs-render-monitor"
            style="display: block; width: 600px; height: 400px;"></canvas>
    </div>

    <div id="nombreBus" class="chart-wrap">
        <h1>Nombre de bus par mois par trajet</h1>
        <canvas id="nbBus"></canvas>
    </div>
</div>