<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">

<div id="contenaire">
	<div id="tableau">
		<h3>Liste des Trajet</h3>
		<table>
			<tr>
				<th>idTrajet</th>
				<th>depart</th>
				<th>arriver</th>
				<th>distance</th>
			</tr>
			<form>
                <tr style="text-align:center" ng-repeat="trajet in trajets">
                    <input type="hidden" value="{{trajet.idTrajet}}" name="idTrajet" >
                        <td> {{trajet.idTrajet}} </td>
                        <td> {{trajet.depart}}</td>
                        <td> {{trajet.arriver}} </td>
                        <td> {{trajet.distance}} </td>
                </tr>
            </form>
        </table>
        
        <form id="ChangerEtat">
            <h3>Supprimer Trajet</h3>
            <div>
                <div>
                    <div>
                        <p>Entrer IdTrajet :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="idTrajet">
                        </div>
                    </div>
                    <div id="boutton">
                        <button type="submit" ng-click="deleteTrajet(idTrajet)" class="indispo">supprimer</button>
                    </div>
                </div>
            </div>
        </form>

	</div>
	
	<form id="formulaire">
		<h3>Inserer nouveau trajet</h3>
        <div >
                <div>
                    <div>
                        <p>depart :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="depart">
                        </div>
                    </div>
                </div>
				<div>
                    <div>
                        <p>arriver :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="arriver">
                        </div>
                    </div>
                </div>
				<div>
                    <div>
                        <p>distance :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="distance">
                        </div>
                    </div>
                </div>
                <div class="zone_boutton">
                    <button type="submit" ng-click="insertTrajet()" class="creer">Creer</button>
                </div>
                <div class="zone_exception">
                    <p>Exception</p>
                </div>
        </div>
    </form>
	
</div>    