
<div ng-include="urlNavbar"></div>

<link rel="stylesheet" href="assets/css/vehicule.css">

<div id="contenaire">
	<div id="tableau">
		<h3>Liste des Vehicules</h3>
		<table>
			<tr>
				<th>idVoiture</th>
				<th>marque</th>
				<th>numero</th>
				<th>position d'arret</th>
				<th>Nombre de place</th>
				<th>disponibilite</th>
			</tr>
			<form>
                <tr style="text-align:center" ng-repeat="vehicule in vehicules">
                    <input type="hidden" value="{{vehicule.idVehicule}}" name="idVehicule" >
                        <td> {{vehicule.idVoiture}} </td>
                        <td> {{vehicule.marque}} </td>
                        <td> {{vehicule.numeroVoiture}} </td>
                        <td> {{vehicule.positionArret}} </td>
                        <td> {{vehicule.taille}} </td>
                        <td> {{vehicule.disponiblite}} </td>
                </tr>
            </form>
        </table>
        
        <form id="ChangerEtat">
            <h3>Changer etat du vehicule</h3>
            <div>
                <div>
                    <div>
                        <p>Entrer IdVoiture :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="idVoiture">
                        </div>
                    </div>
                    <div id="boutton">
                        <div >
                            <button type="submit" ng-click="ChangeStateVoiture(idVoiture, 'indisponible')" class="indispo">indisponible</button>
                        </div>
                        <div >
                            <button type="submit" ng-click="ChangeStateVoiture(idVoiture, 'disponible')" class="dispo">disponible</button>
                        </div>
                        <div >
                            <button type="submit" ng-click="ChangeStateVoiture(idVoiture, 'enRoute')" class="route">En route</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

	</div>
	
	<form id="formulaire">
		<h3>Inserer nouveau vehicule</h3>
        <div >
                <div>
                    <div>
                        <p>marque :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="marque">
                        </div>
                    </div>
                </div>
				<div>
                    <div>
                        <p>numero :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="numero">
                        </div>
                    </div>
                </div>
				<div>
                    <div>
                        <p>positon de la voiture :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="positionArret">
                        </div>
                    </div>
                </div>
				<div>
                    <div>
                        <p>nombre de place client :</p>
                    </div>
                    <div>
                        <div>
                            <input type="text" ng-model="taille">
                        </div>
                    </div>
                </div>
				
                <div class="zone_boutton">
                    <button type="submit" ng-click="insertVoiture()" class="creer">Creer</button>
                </div>
                <div class="zone_exception">
                    <p>Exception</p>
                </div>
        </div>
    </form>
	
</div>    