<link href="assets/css/zoneVoyage.css" rel="stylesheet">
<link href=" assets/css/textVoyage.css" rel="stylesheet">
<link href=" assets/css/selectMenu.css" rel="stylesheet">
<link href=" assets/css/boutton.css" rel="stylesheet">

<div ng-include="urlNavbar"></div>

<div class="titrePrincipal">
    <h1>Voyage</h1>
</div>

<div class="principal">


    <form>

        <div class="form">
            <div class="titre">
                <h2>Créer voyage</h2>
            </div>
            <div class="label_1">
                <div class="label_trajet">
                    <p>Trajet :</p>
                </div>
                <div class="input_trajet">
                    <div class="input_trajet_depart">
                        <div class="formfield-select--container">
                            <select id="mon_select" ng-model="depart">
                                <option value="Antananarivo">Antananarivo</option>
                                <option>Toamasina</option>
                                <option>Mahajanga</option>
                                <option>Antsirabe</option>
                            </select>
                        </div>
                    </div>
                    <div class="input_trajet_arrive">
                        <div class="formfield-select--container">
                            <select id="mon_select" ng-model="arriver">
                                <option>Toamasina</option>
                                <option>Antananarivo</option>
                                <option>Mahajanga</option>
                                <option>Antsirabe</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="label_2">
                <div class="label_numero">
                    <p>Numero voiture :</p>
                </div>
                <div class="input_numero">
                    <div class="formfield-select--container">
                        <select id="mon_select" ng-model="numero">
                            <option ng-repeat="vehicule in vehicules" value="{{vehicule.idVoiture}}">
                                {{vehicule.idVoiture}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="label_3">
                <div class="label_date">
                    <p>Date :</p>
                </div>
                <div class="input_date">
                    <div class="input">
                        <input type="text" placeholder="AAAA-MM-jj" ng-model="date">
                    </div>
                </div>
            </div>
            <div class="label_4">
                <div class="label_horraire">
                    <p>Horraire :</p>
                </div>
                <div class="input_horraire">
                    <div class="formfield-select--container">
                        <select id="mon_select" ng-model="horraire">
                            <option>06:00</option>
                            <option>18:00</option>
                        </select>
                    </div>
                </div>

                <div>
                    <p>Duree</p>
                    <input type="text" ng-model="Duree" placeholder="duree">
                </div>
            </div>
            <div class="label_5">
                <div class="label_prix">
                    <p>Prix :</p>
                </div>
                <div class="input_prix">
                    <div class="input">
                        <input type="text" ng-model="prix">
                    </div>
                </div>
            </div>
            <div class="zone_boutton">
                <button type="submit" ng-click="insertVoyage()" class="creer">Creer</button>
            </div>
            <div class="zone_exception">
                <p>Exception</p>
            </div>
        </div>
        <div class="bas">
            <p>Bas</p>
        </div>
    </form>


    <div>
        <h3>Liste des voyages</h3>
        <table>
            <tr>
                <th>idVoyage</th>
                <th>idTrajet</th>
                <th>idVoiture</th>
                <th>Duree</th>
                <th>Date de depart</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
            <form>
                <tr ng-repeat="voyage in voyages">
                    <input type="hidden" value="{{voyage.idVoyage}}" name="idVoyage">
                    <td> {{voyage.idVoyage}} </td>
                    <td> {{voyage.idTrajet}} </td>
                    <td> {{voyage.idVoiture}} </td>
                    <td> {{voyage.duree}} </td>
                    <td> {{voyage.dateDepart}} </td>
                    <td> {{voyage.prix}} </td>
                    <td> {{voyage.etat}} </td>
                    <td><button type="submit" ng-click="" class="voir">Annuler</button></td>
                </tr>
            </form>
        </table>
    </div>

</div>